#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "resdefce.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE 9, 1
#pragma code_page(1252)

IDI_MEGACE_APP ICON DISCARDABLE "..\\resources\\Mega.ico"
IDI_MEGACE_FILE ICON DISCARDABLE "..\\resources\\Mega.ico"
IDI_MEGACE_FOLDER ICON DISCARDABLE "..\\resources\\Folder.ico"
IDI_MEGACE_UP ICON DISCARDABLE "..\\resources\\Folder_Up.ico"
IDI_MEGACE_FOLDER_SYNC ICON DISCARDABLE "..\\resources\\Folder_Sync.ico"

IDR_MEGACE_MENU MENU DISCARDABLE
BEGIN
    POPUP "Menu"
    BEGIN
        MENUITEM "Login", IDC_MEGACE_SHOWLOGIN
        MENUITEM "Files", IDC_MEGACE_SHOWFILES
        MENUITEM "Refresh Files", IDC_MEGACE_FETCH
        MENUITEM "View Logs", IDC_MEGACE_SHOWLOGS
        MENUITEM "Save Logs", IDC_MEGACE_SAVELOG
        MENUITEM "Session Status", IDC_MEGACE_SESSION
        MENUITEM "Settings", IDC_MEGACE_SHOWSETTINGS
        MENUITEM "Exit", IDC_MEGACE_EXIT
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MEGACE_MENU "Menu"
    IDS_MEGACE_TWOWAYSYNC "Two Way Sync"
END

HI_RES_AWARE CEUX {1}

IDR_MEGACE_MENU SHMENUBAR DISCARDABLE
BEGIN
    IDR_MEGACE_MENU,
    2,

    I_IMAGENONE, IDC_MEGACE_SYNCNOW, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_MEGACE_TWOWAYSYNC, 0, NOMENU,
    I_IMAGENONE, IDM_MEGACE_MENU, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    IDS_MEGACE_MENU, 0, 0,
END
